.p-topic-path {
    display: flex;
    > li {
        & + li {
            margin-left: 10px;

            &:before {
                content: '>';
                margin-right: 10px;
            }
        }
    }
}